.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3em auto;
  gap: 3em;
  height: 100%;
}
.wrapper {
  width: 100%;
  overflow-x: scroll;
  scrollbar-track-color: transparent;
  scrollbar-width: 5px;
}
.wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.wrapper::-webkit-scrollbar {
  width: 5px;
}
.contentTable {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contentTable thead tr {
  background-color: #2b8f4e;
  color: #ffffff;
  text-align: left;
  font-weight: 600;
  font-size: 1.6rem;
}

.contentTable th,
.contentTable td {
  padding: 12px 15px;
}

.contentTable tbody tr {
  border-bottom: 1px solid #dddddd;
  font-size: 1.4rem;
}

.contentTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
  border-bottom: 2px solid #2b8f4e;
}

.contentTable tbody tr.active-row {
  font-weight: 600;
  color: #009879;
}

/* DataTable Footer  */

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Pagination Style */
.pagination {
  display: flex;
  gap: 0.5em;
}

.pagination span {
  color: black;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
}

.pagination span.active {
  background-color: #4caf50;
  color: white;
}

.pagination span:hover:not(.active) {
  background-color: #ddd;
}

/* DataTable Form Elements Inputs, Select */

.formControl {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.formControl label {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.formControl input,
.formControl select {
  max-width: 100%;
  width: 100px;
  height: 30px;
  text-indent: 10px;
  color: var(--text-color-dark);
  border: 1px solid #cccccc;
  border-radius: 0.3em;
  box-shadow: none;
}

.contentTable .dark__row:nth-of-type(even) {
  border-bottom: 1px solid #17223c;
  background-color: #111827;
}

.text-white {
  color: #fff;
}
.dark__lable {
  color: #fff !important;
}
.dark__select {
  color: #f0f0f0 !important;
}
.overflow_y_scroll {
  width: 100%;
  height: 56vh;
  overflow-y: scroll;
  -webkit-scrollbar: 20px;
}
